


.cardwrapper {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-items: center;
	/*
	flex-flow:row wrap;
	justify-content:space-around;
	align-content:space-between;
	*/
	max-width:1200px;
	margin:5em auto 12em auto;
}

.wrapshow {
	background-color:var(--color4);
	box-shadow: 4px 4px rgba(0,0,0,0.3);
	border:2px solid black;
	margin-bottom:10em;
}


.bgcard {
	width:250px;
	height:320px;
	background-color:rgba(0,0,0,0.8);
	margin:2.5vw;
	margin-bottom:8vh;
	transform: rotate(10deg);
	box-shadow: 4px 4px rgba(0,0,0,0.3);
}

.hamstercard, .neutralcard {
	--bord:black;
	--imgEffect:none;
	--bordShade:rgba(0,0,0,0.6);
	width:100%;
	height:100%;
	background-color:white;
	border:2px solid black;
	margin:0;
	transform: rotate(-10deg);
	box-shadow: 4px 4px rgba(0,0,0,0.3);
	background-image:linear-gradient(to bottom, var(--bordShade), transparent), linear-gradient(to top, var(--bordShade), transparent);
	background-position:left top, left bottom;
	background-size:100% 5%;
	background-repeat:no-repeat;
	transition: all 0.3s ease-in-out;
}

.clickarea {
	margin:0;
	padding:0;
}
.clickarea:hover {
	cursor: pointer;
	--imgEffect:brightness(200%);
}

.clickarea > h1 {
	font-weight:900;
	font-size:1.5em;
	margin:0.5em 0 0.3em 0;
}

.hamstercard:hover {
	--bord:red;
	border:2px solid red;
	background-color:var(--color4);
}

.thumbnail, .thumbnailmini {
	margin:0;
	width:200px;
	height:120px;
	border:2px solid var(--bord);
	box-shadow: 4px 4px var(--shadecol);
	transition: all 0.3s ease-in-out;
	filter:var(--imgEffect);
}

.thumbnailmini {
	width:120px;
	height:70px;
}

.thumbnailwinner {
	width:300px;
	height:180px;
	border:2px solid black;
	display:block;
	margin:2em auto;
	box-shadow: 4px 4px var(--shadecol);
}


.vs {
	width:90%;
	display:block;
	margin:1em auto;
	background-image:linear-gradient(to right, transparent, red, transparent);
	background-size:100% auto;
	background-position:center center;
	background-repeat:no-repeat;
}

.rubrikhistory {
	padding:0;
	margin:1em auto;
}

.nofound {
	padding:0;
	margin:1em 0;
	width:100%;
	height:100px;
}

.tallcard {
	height:430px;
}