.startpagewrapper {
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-content:center;
	width:100%;
	max-width:1600px;
	margin:1em auto 2em auto;
}

.hamsterimgwrapper {
	display:block;
	width:40%;
	min-width:500px;
	max-width:1000px;
	min-height:600px;
	margin-right:2%;
	margin-left:auto;
}

.mirrorbg {
	width:100%;
	min-height:600px;
	display:block;
	margin:0;
	background-image:url('../images/hams.svg');
	background-position:right bottom;
	background-size:80% auto;
	background-repeat:no-repeat;
	
}

.upside {
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
	min-height:12vw;
	background-image:
	linear-gradient(to top, transparent, var(--color1) 60%),
	url('../images/hams.svg');
	background-position:center center, right bottom;
	background-size:cover, 80%;
	margin-bottom:10px;
}

.pratbubbla {
	display:block;
	box-sizing:border-box;
	margin:0;
	padding-left:1.5em;
	padding-top:1em;
	text-align:left;
	height:600px;
	width:700px;
	background-image:url('../images/pratbubbla.svg');
	background-position:center center;
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.prat {
	display:block;
	box-sizing:border-box;
	margin:0;
	padding:0;
	width:100%;
}

.prat > h1 {
	text-decoration:underline;
	font-size:2em;
}

.prat > p {
	width:75%;
	font-size:1.5em;
}



@media screen and (max-width: 1300px) {
	.startpagewrapper {
		flex-flow:column wrap;
	}
	.pratbubbla {
	  background-image:url('../images/pratbubbla2.svg');
	  height:700px;
	  width:600px;
	}
	.prat {
		width:100%;
		padding:1em;
	}
	.prat > p {
		width:100%;
	}
	
  }