* {
  --color1:#8EBE8E; /*background color*/
  --color2:#D0CAED;
  --color3:#B2EDB2;
  --color4:#EDBE9A; /*nav bg color, footer*/
  --color5:#A18670;

  --shadecol:#888888;
  box-sizing: border-box;

  /*
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

  font-family: 'Josefin Sans', cursive;
  */

}


.App {
  text-align: center;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}


.App-header {
  /*background-color: #282c34;
  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


header, footer {
  background-color:var(--color4);
  padding:1em 0.5em;
  flex: 0 0 auto;
  background-image:
  linear-gradient(to bottom, black, white, rgba(0,0,0,0.6), transparent),
  linear-gradient(to top, black, white, rgba(0,0,0,0.6), transparent),
  linear-gradient(to right, black, transparent),
  linear-gradient(to left, black, transparent);
  background-size:100% 20px, 100% 20px, 20% 100%, 20% 100%;
  background-position:left top, left bottom, left top, right top;
  background-repeat:no-repeat;
}

footer {
  background-color:var(--color4);
  min-height:100px;
  padding-top:1em;
}

nav a {
  padding: 0.2em 1.5em;
  color:var(--color5);
  text-shadow: 0.1em 0.1em 0.1em black;
  transition: all 0.3s ease-in-out;
  text-decoration:none;
  font-weight:600;
  border:0px solid black;
}

nav a:hover {
  color:white;
}

nav a.active {
  font-weight:900;
  text-decoration:underline;
}

.mainclass {
  background-color:var(--color1);
  flex: 1 1 auto;
  background-image:
  linear-gradient(to bottom, rgba(0,0,0,0.6), transparent),
  linear-gradient(to top, rgba(0,0,0,0.6), transparent);
  background-size:100% 40px, 100% 40px;
  background-position:left top, left bottom;
  background-repeat:no-repeat;
}

button {
  background-color:var(--color5);
  cursor:pointer;
  font-weight:900;
  color: black;
  padding: 0.2em 0.3em;
  margin:0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  transition: all 0.2s ease-in-out;
  border-radius:25px;
  border:2px solid black;
  box-shadow: 5px 5px #888888;
}

button:hover {
  background-color:var(--color4);
  border:2px solid red;
  box-shadow: 1px 1px var(--shadecol);
  transform: scale(0.98);
}


.askRemove {
  display:block;
  margin:0;
  height:3em;
  background-color:red;
}

