* {
  --color1:#8EBE8E; /*background color*/
  --color2:#D0CAED;
  --color3:#B2EDB2;
  --color4:#EDBE9A; /*nav bg color, footer*/
  --color5:#A18670;
}


.App {
  text-align: center;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}


.App-header {
  /*background-color: #282c34;
  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


header, footer {
  background-color:var(--color4);
  padding:1em 0.5em;
  flex: 0 0 auto;
  background-image:
  linear-gradient(to bottom, black, white, rgba(0,0,0,0.6), transparent),
  linear-gradient(to top, black, white, rgba(0,0,0,0.6), transparent),
  linear-gradient(to right, black, transparent),
  linear-gradient(to left, black, transparent);
  background-size:100% 20px, 100% 20px, 20% 100%, 20% 100%;
  background-position:left top, left bottom, left top, right top;
  background-repeat:no-repeat;
}

footer {
  background-color:var(--color4);
  min-height:100px;
  padding-top:1em;
}

nav a {
  padding: 0.2em 1.5em;
  color:var(--color5);
  text-shadow: 0.1em 0.1em 0.1em black;
  transition: all 0.3s ease-in-out;
  text-decoration:none;
  font-weight:600;
  border:0px solid black;
}

nav a:hover {
  color:white;
}

nav a.active {
  font-weight:900;
  text-decoration:underline;
}

main {
  background-color:var(--color1);
  flex: 1 1 auto;
}