.App {
  text-align: center;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}


.App-header {
  /*background-color: #282c34;
  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color:aqua;
  color:yellow;
  padding:0.5em;
  flex: 0 0 auto;
}

nav a {
  padding: 0.2em 1.5em;
  color:green;
  transition: background-color 0.3s ease-in-out;
  text-decoration:none;
}

nav a:hover {
  background-color:purple;
}

nav a.active {
  font-weight:bold;
}

main {
  background-color:red;
  flex: 1 1 auto;
}